@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@variant dark (&:where(.dark, .dark *));

:root {
	--primary: #E4002B;
	--secundario: #333333;
	--tertiary: #007AA4;
	--neutro: #717171;
	font-family: 'Inter', sans-serif;
}

.dark {
	--primary: #FF2D3E;
	--secundario: #CCCCCC;
	--tertiary: white;
}

@theme {
	--color-primary: var(--primary);
	--color-secundario: var(--secundario);
	--color-tertiary: var(--tertiary);
	--color-neutro: var(--neutro);
}

body {
	font-family: 'Inter', sans-serif;
}

@layer base {
	body {
		@apply text-black dark:text-white;
	}
}

.no-transitions *,
.no-transitions *::before,
.no-transitions *::after {
	transition: none !important;
}


